.create-company-section .cancel-btn {
    border: 2px solid #007F27;
    color: #007F27;
    text-transform: capitalize;
    border-radius: 8px;

}

.create-company-section .create-btn {
    background-color: #007F27;
    text-transform: capitalize;
    border-radius: 8px;
}