.forgot-section .submit-btn {
    /* border: 2px solid #007F27; */
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 8px;
    background-color: #007F27;
}

.forgot-section .rest-btn {
    border: 2px solid #007F27;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 8px;
    background-color: #007F27;
}

.forgot-section .title {
    color: #007F27;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
}

